.my_app
{
	border: 2px solid #000;
	width: 400px;
	background-color: rgba(255, 100, 247, 0.897);
	border-radius: 5px;
	padding-left: 20px;
	padding-bottom: 20px;
}

#buttom
{
	width: 100px;
	height:30px;
	border-radius: 4px;
	margin-left: 15%;
}